<div class="row">
  <div class="col-md-4 col-md-offset-4" style="text-align:center;">
    <div class="content" style="display:inline-block;">
      <%= link_to 'Edit Book', edit_book_path, {:book_id=>@book.id} %> |
      <%= link_to 'Bookshelf', books_path %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= render 'shared/meeting' %>
  </div>
</div>

<%= render 'shared/group_pics' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/notes' %>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Delete Book', @book, method: :delete, data: {confirm: 'Are you sure you want to delete this book? All pictures and notes associated with this book for every user will be deleted.'} %>
  </div>
</div>
