<!DOCTYPE html>
<html>
  <head lang="en" >
    <title>Book Club</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div>
      <%= link_to "Home", root_path %>
    </div>
  </body>
</html>
